body {
  font-family: Arial, Helvetica, sans-serif;

  --color-1: #008b8b;
  --color-2: #01027b;
  --color-3: #95bedd;
  --color-4: #ec833f;
  --color-5: #ffd76a;

  --border-color: #ddd;
  --gray-100: #fafafa;
  --gray-500: #666;
  --gray-700: #333;
  --primary-100: #d2e7ff;
  --primary-200: #b1d3fa;
  --primary-400: #2e8fff;
  --primary-500: #0078ff;
  --primary-600: #0066db;
  --error-500: #f00;
  --error-100: #fee;
}

/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  padding: 5px;
  background-color: var(--color-1);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  display: flex;
  flex-direction: column;
}

/*
    Common components
  */
button,
.button {
  display: inline-block;
  border: 0;
  background-color: var(--color-4);
  border-radius: 50px;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
  text-decoration: none;
}
button:hover,
.button:hover {
  background: var(--color-4);
}

.error {
  background-color: var(--error-100);
  color: var(--error-500);
  text-align: center;
  padding: 1rem;
  display: none;
}
.error.visible {
  display: block;
}

#header {
  padding: 0.5rem 0 1.5rem;
}

#header h1 {
  font-size: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  max-width: 900px;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 575px;
  max-width: 575px;
  margin-right: 25px;
}

.right-bar {
  width: 275px;
  max-width: 275px;
  margin-left: 25px;
}

.card {
  border-radius: 6px;
  padding: 10px 16px;
  background-color: var(--color-3);
  margin-bottom: 10px;
}
.card > :first-child {
  margin-top: 0;
}
.card > :last-child {
  margin-bottom: 0;
}

.subject-input {
  width: 450px;
}

.session-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: row;
  gap: 6px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #fff;
}

.login-form input {
  flex: 1;
  border: 0;
}

.nudge-container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 10px 16px;
  background-color: var(--color-3);
  margin-bottom: 10px;
}

.nudge {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 60px;
}

.author,
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.fingers {
  font-size: 45px;
}

.timestamp {
  margin: 0 auto;
}

.signup-cta {
  text-align: center;
  text-wrap: balance;
  margin-top: 1rem;
}
